@{
    //Use these to get explicitly show spacing inside of pre
    string space = " ";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Resources/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/9981bc50b8.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-tntt">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">JP2 Portal</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <button class="dropbtn">Directory <i class="fa fa-caret-down"></i>@space@space@space@space</button>
                    <div class="dropdown-content">
                        <a asp-area="" asp-controller="Home" asp-action="UpdateUserInfo">Update User Info</a>
                        <a asp-area="" asp-controller="Home" asp-action="FindUser">Find Another User</a>
                    </div>
                </li>
                <li><a asp-area="" asp-controller="Home" asp-action="CampInfo">Sa Mạc Huấn Luyện</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="RegisterForEvent">Register for an Event</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Resources">Resources</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col">
                    <b>&copy; 2019 - Liên Đoàn Gioan Phaolô II</b>
                    <br>
                    <i>"The future starts today, not tomorrow." - Pope John Paul II</i>
                </div>
                <div class="col text-lg-right">
                    <a class="fb-ic" role="button" style="padding-left: 2px; padding-right: 2px;" href="https://www.facebook.com/profile.php?id=100013798176848"><i class="fab fa-lg fa-facebook-f"></i></a>
                    <a class="email-ic" role="button" style="padding-left: 2px; padding-right: 2px;" href="mailto: philips.nguyen@veym.net"><i class="far fa-lg fa-envelope"></i></a>
                    <a class="yt-ic" role="button" style="padding-left: 2px; padding-right: 2px;" href="https://www.youtube.com/watch?v=JCIIv8hsO3E&feature=youtu.be&fbclid=IwAR1l0vIjPaKg96EtX-maWa-a8PXYZDYwV48uzo3qis65Hr5XzxOxKGuh4tM"><i class="fab fa-lg fa-youtube"></i></a>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
