<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Resources/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-tntt">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">JP2 Portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="UpdateUserInfo">Update User Info</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CampInfo">Past Sa Mạc Huấn Luyện</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="RegisterForEvent">Register for an Event</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Test">Test Navigation</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Liên Đoàn Gioan Phaolô II </p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
