
@{
    ViewData["Title"] = "AdminMode";
}
    <div class="text-center">
        <h2>Welcome Administrator</h2>
        <form class="container form-horizontal" action="AdministrateUsers" meathod="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">Administrate All Users</button>
        </form>
        <br>
        <form class="container form-horizontal" action="AdministrateTrainings" meathod="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">Administrate All Training</button>
        </form>
        <br>
        <form class="container form-horizontal" action="AdminTools" meathod="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">Admin Tools</button>
        </form>
    </div>


