<div class="text-center">
    <br>
    <form class="container form-horizontal" action="PreviousTrainings/@ViewData["MembershipID"]" meathod="post">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">View Previous Trainings</button>
    </form>
    <br>
    <form class="container form-horizontal" action="TrainingsOffered/@ViewData["MembershipID"]" meathod="post">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">View Trainings Offered</button>
    </form>
    <br>
    <form class="container form-horizontal" action="CurrentRegistrations/@ViewData["MembershipID"]" meathod="post">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">Current Registrations</button>
    </form>
    <br>
    @{
        if ((bool)ViewData["Admin"])
        {
            <form class="container form-horizontal" action="AdminMode" meathod="post">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="Submit" name="Submit">Admin Mode</button>
            </form>
            <br>
        }

    }

    <h1>
        <b>Certifed Training</b>
    </h1>
    <hr />
    @{
        switch (ViewData["Xrank"].ToString())
        {
            case "Hiệp Sĩ Trưởng Thành":
                <br>
                <h2><b>Future Training Opportunities</b></h2>
                <hr />
                <img src="~/Badge-C1.jpg" height="300" width="300" />
                <img src="~/Badge-C2.jpg" height="300" width="300" />
                <img src="~/Badge-C3.PNG" height="300" width="300" />
                <img src="~/Badge-HLV.png" height="300" width="300" />
                break;
            case "Huynh Trưởng - Cấp 1":
                <img src="~/Badge-C1.jpg" height="300" width="300" />
                <br>
                <h1><b>Future Training Opportunities</b></h1>
                <hr />
                <img src="~/Badge-C2.jpg" height="300" width="300" />
                <img src="~/Badge-C3.PNG" height="300" width="300" />
                <img src="~/Badge-HLV.png" height="300" width="300" />
                break;
            case "Huynh Trưởng - Cấp 2":
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/Badge-C1.jpg" class="image center-block" height="300" width="300" />
                            <div class="hoverdisplay">
                                <div class="text"><b>Sa Mạc HT Cấp 1:</b> [Camp Name] Recieved on [MM/YY]</div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="~/Badge-C2.jpg" class="image center-block" height="300" width="300" />
                            <div class="hoverdisplay">
                                <div class="text"><b>Sa Mạc HT Cấp 2:</b> [Camp Name] Recieved on [MM/YY]</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h2><b>Future Training Opportunities</b></h2>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/Badge-C3.PNG" class="image center-block" height="300" width="300" />
                            <div class="hoverdisplay">
                                <div class="text"><b>Sa Mạc HT Cấp 3:</b> Opportunity ???</div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="~/Badge-HLV.png" class="image center-block" height="300" width="300" />
                            <div class="hoverdisplay">
                                <div class="text"><b>Sa Mạc HLV:</b> Opportunity ???</div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case "Huynh Trưởng - Cấp 3":
                <img src="~/Badge-C1.jpg" height="300" width="300" />
                <img src="~/Badge-C2.jpg" height="300" width="300" />
                <img src="~/Badge-C3.PNG" height="300" width="300" />
                <br>
                <h2><b>Future Training Opportunities</b></h2>
                <hr />
                <img src="~/Badge-HLV.png" height="300" width="300" />
                break;
            default:
                Console.WriteLine("Default case");
                break;
        }
    }
    <br>
</div>
