@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome, Tr.
        @if (User.Identity.IsAuthenticated)
        {
            var identity = User.Identity as ClaimsIdentity; // Azure AD V2 endpoint specific
            string name = identity.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
            <hi class="display-4"> @name</hi> 

        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
            </ul>
        }
    </h1>
</div>