<div class="text-center">
    <h2>Register For an Event!</h2>
    <br>
</div>
<p>To register for an upcomming event please press the "Register" Button Bellow!</p>
<p>Note, you must be of elegible rank to register! For any questions contact JP2 IT!</p>
<br>
<a href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=VHHEtWPVjUKfGzIW4kNdFDRU1XvPrsNBpTy6e1W4p99UOEdFVjJMU01WNENIOEc3NlFQSFBTMkhCNiQlQCN0PWcu"><button type="button" class="btn btn-primary btn-lg btn-block">Register</button></a>

