@{
    ViewData["Title"] = "Resources";
}

<div class="text-center">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front"> 
                                <img src="~/EduCenterYellow.png" alt="Educenter" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://educenter.veym.net/login/index.php" style="color: white">
                                <h1>EduCenter</h1>
                                <p>learning Platform</p>
                                <p>Camp News, Assignments, and Training</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <img src="~/VEYMOffical.PNG" alt="VEYMOfficial" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://veym.net/" style="color: white">
                                <h1>VEYM Offical Website</h1>
                                <p>Offical News and Resources</p>
                                <p>TU level</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <img src="~/IT.png" alt="IT" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://veym.freshdesk.com/support/home" style="color: white">
                                <h1>Offical IT Support</h1>
                                <p>FAQ to common issues</p>
                                <p>Tickets and support fro IT TU</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <img src="~/OfficalStore.png" alt="Store" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://store.veym.net/" style="color: white">
                                <h1>Offical VEYM Store</h1>
                                <p>Uniforms, Accessories, Traning Material</p>
                                <p>and more!</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <img src="~/365.PNG" alt="365" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://www.office.com" style="color: white">
                                <h1>Microsoft Office 365</h1>
                                <p>Outlook, Sharepoint, Teams</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <img src="~/Jp2.PNG" alt="Jp2" height="200" width="500">
                        </div>
                        <div class="flip-card-back">
                            <a href="https://jpii-dev.netlify.com" style="color: white">
                                <h1>Offical JP2 Website</h1>
                                <p>Lien Doan news and updates</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</div>


