@{
    ViewData["Title"] = "Resources";
}

<div class="text-center">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://educenter.veym.net/login/index.php"><img src="~/EduCenterYellow.png" height="200" width="500" style="padding: 5px"></a>
                <a href="https://veym.net/"><img src="~/VEYMOffical.PNG" height="200" width="500" style="padding: 5px"></a>
            </div>
            <div class="col">
                <a href="https://store.veym.net/"><img src="~/OfficalStore.png" height="200" width="500" style="padding: 5px"></a>
                <a href="https://www.office.com"><img src="~/365.png" height="200" width="500" style="padding: 5px"></a>
            </div>
            <div class="col">
                <a href="https://veym.freshdesk.com/support/home"><img src="~/IT.png" height="200" width="500" style="padding: 5px"></a>
                <a href="https://jpii-dev.netlify.com/"><img src="~/Jp2.png" height="200" width="500" style="padding: 5px"></a>
            </div>
        </div>
    </div>
</div>
