@{
    ViewData["Title"] = "ThankYou";
}
    <div class="text-center">
        <h2>Update Request Recieved!</h2>
        <hr />
        <pre>
        <p>Thank you, <b>Tr. @ViewData["XfirstName"] @ViewData["XlastName"]</b> for your User Info update request.

        <p>An email has been sent to <b>@ViewData["Xemail"]</b> with further information about your submission.

        <p>The JP2 IT team is working diligently to fulfill your requested changes!

        <p>God Bless!
    </div>

